html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  justify-content: center;
  color: salmon;
}

p {
  color: darkgoldenrod;
}

header {
  background-color: rgb(77, 72, 72);
  text-align: center;
  width: 100%;
  height: 90px;
  border-style: ridge;
}

/*
*Filtre des restaurants
*/

.filter {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.filter select {
  padding: 2px;
  border-radius: 5px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.filter button {
  margin-left: 10px;
}

/*
* Affichage de la carte
*/

.container {
  display: flex;
  min-height: 100vh;
}

#map {
  width: 60%;
  height: auto;
  background-color: grey;
}

/*
* Affichage de la liste
*/

#list {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
}

ul {
  width: 100%;
  padding: 0;
  margin-top: 0;
}

li {
  list-style-type: none;
  color: black;
  border: grey 1.5px solid;
  margin: auto;
  padding: 20px;
  cursor: pointer;
}

li:hover {
  border: black 4px solid;
}

/*
* Affichage de l'infoWindow d'un restaurant
* et du formulaire pour rajouter un commentaire
*/
.infoWindow {
  display: flex;
    flex-direction: column;
    justify-content: center;
    width: 305px;
    align-items: center;
}

.infoWindow .textarea {
  width: auto;
  height: 70px;
}

.stars {
  margin: 1px;
  font-size: 1.5em;
}

.infoWindow button {
  width: 100%;
  border: 1px solid #e7542b;
  background-color: #e7542b;
  border-radius: 3px;
  color: #fff;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
}

.add-comments {
  display: none;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
}

.add-comments select {
  width: 50px;
  border: 1px solid salmon;
  margin-left: 10px;
}

.select-stars {
  display: flex;
  margin-bottom: 10px;
}

hr {
  width: 120px;
  height: 1px;
  background-color: salmon;
  border: none;
}

.add-comments textarea {
  padding: 5px 5px 5px 5px;
  border: 1px solid grey;
  margin-bottom: 10px;
}

.comments {
  width: 300px;
}


.thanks {
  display: none;
}

/*
* Affichage du modal de création d'un nouveau restaurant
*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Contenu du modal */

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 650px;
}

.modal-content h2 {
  text-align: center;
  font-weight: bolder;
  color: salmon;
}

/* Le bouton de fermeture */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*
* Formulaire d'ajout du restaurant
*/
form {
  margin: auto;
  padding: 1em;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
  box-sizing: inherit;
}

form label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  text-align: right;
  color: #000000;
  font-weight: 700;
}

form input,
textarea {
  width: 100%;
  height: 40px;
  font: 1em sans-serif;
  border: 1px solid #999;
  border-radius: 3px;
  margin-top: 5px;
}

form input:focus,
textarea:focus {
  outline: darkgoldenrod auto 3px;
  box-sizing: inherit;
}

#rating {
  padding: 5px;
  margin: 1px;
}

form textarea {
  vertical-align: top;
  height: 5em;
}

.input_invalid {
  border: 1px solid red !important;
}

.input_valid {
  border: 1px solid #5fa550 !important;
}

form .button {
  margin: auto;
  margin-top: 1em;
}

form button {
  width: 101%;
  border: 1px solid #e7542b;
  background-color: #e7542b;
  border-radius: 3px;
  color: #fff;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
}

#btn-filter {
  display: none;
  border: 1px solid #e7542b;
  background-color: #e7542b;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}

#search {
  width: 100%;
  border: 1px solid #e7542b;
  background-color: #e7542b;
  border-radius: 3px;
  color: #fff;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
}

/*
* Affichage du footer
*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(77, 72, 72);
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-style: ridge;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  #map {
    width: 100%;
    height: 500px;
  }

  #list {
    width: 100%;
    height: auto;
  }

  .modal-content {
    width: 75%;
  }
}
